
<script src="../../javascripts/admin/jquery-1.11.1.min.js"></script>
<script src="../../javascripts/admin/bootstrap.min.js"></script>
<script src="../../javascripts/admin/bootstrap-table.js"></script>	
</body>

</html>
